.listItems {
    margin: 0.5em 0;

    .items {
        border: none;
        .head {
            font-size: 0.8em;
            background-color: #dddddd;

            .cell {
                line-height: 3em;
                padding: 0 1em;
                border-right: 5px solid #ffffff;
            }
        }

        .item {
            color: var(--color-content);
            line-height: 3em;
            border-bottom: 1px solid #dddddd;
            .cell {
                padding: 0 1.5em;
            }
            .cell.name {
                padding: 0;
                a {
                    display: block;
                    width: 100%;
                    padding: 0 1.5em;
                    line-height: 3em;
                    text-decoration: none;
                    color: var(--color-content);
                    border-left: 3px solid #ffffff;

                    &:hover {
                        border-left: 3px solid var(--color-content);
                    }
                }
            }

            .cell.count {
                text-align: right;
            }

            .cell.nodeName {
            }
        }
    }
}

.notFound {
    margin: 1em 0;
    font-size: 1.4em;
}
