.form-item {
    .field {
        .label {
            margin: 1em 0;
        }
        .value {
            margin: 1em 0;
        }
    }

    .buttons {
        display: flex;

        .buttonSave,
        .buttonDelete {
            margin-right: 1em;
        }
    }
}
