@import "./node_modules/reset-css/sass/reset";

:root {
    --color-primary: #324051;
    --color-secondary: #5b6674;
    --color-additional: #283340;
    --color-content: #185a8f;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

input,
textarea,
select,
button {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}
