.element {
    display: flex;
    align-items: center;
    text-decoration: none;
    min-height: 3em;
    padding: 0 0.5em;
    border-bottom: 1px solid var(--color-additional);

    &.selected,
    &:hover {
        background-color: var(--color-secondary);
    }

    .link {
        display: flex;
        align-items: center;
        width: 100%;
        color: #fff;
        text-decoration: none;

        .descendantsIcon {
            min-width: 1em;
            min-height: 1em;
            display: flex;
            justify-content: center;
            margin: 0 0.2em;
        }

        .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 3em;
            margin: 0 0.2em;
        }
    }
}

.listDescendants {
    padding-left: 0.5em;
}
